name: Java CI with Gradle (Groovy)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: 11
        distribution: temurin
    - name: Validate Gradle wrapper
      uses: gradle/wrapper-validation-action@v1.1.0
    - name: Build with Gradle
      uses: gradle/gradle-build-action@v2.6.1
      with:
        arguments: build
    - uses: actions/upload-artifact@v4.3.1
      with:
        name: Build Artifacts
        path: |
          **/build/reports
